$color-body: #ededed;
$color-footer: #2b2b2b;
$color-form-inputs: #ededed;
$color-text: #888a8c;
$color-sucess : #00835c;
$color-sucess-light : #12aa7c;
$color-danger: #b10d0d;
$color-danger-light: #e94242;
$color-blue : #2466a8;
$color-gray : #414141;
$color-text-light: #b8babc;
$color-green: #02696B;
$color-green-light: #469799;
$color-green-light-x: #67C7C5;
$color-white: #fff;
$color-black: #000;

//grid
$grid-width: 90%;
$gutter-horizontal: 6rem;
$gutter-horizontal-form: 1rem;


// for responsive

$break-small: 320px;
$break-large: 1200px;

$width-name: max-device-width;
$target-width: 600px;
