table{
    width: 98%;
    line-height: 3.5rem!important;
    background-color: $color-white;
    border-radius: 5px;
    border-collapse: collapse;
    border-spacing: 0;

    tr{
        th .ng2-smart-title{
            @media screen and ($width-name : $target-width) {
                width: 120px;
            }
        }
    }
        
    
}

